{deps, [
      {folsom, ".*", {git, "git://github.com/boundary/folsom", {tag, "0.7.4"}}},
      {webmachine, ".*", {git, "git://github.com/basho/webmachine", {tag, "1.9.2"}}},
      {ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse.git", {tag, "v4.0.1"}}}
  ]}.
{erl_opts, [debug_info]}.
{cover_enabled, true}.
